<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>首页</title>
<link rel="stylesheet" href="index.css">
</head>
<body>

<div class="container">
    <h1>照片墙</h1>
    <img id="randomImage" src="index.jpg" alt="Random Image">
    <div>
        <button><a href="login" style="text-decoration: none; color: white;">登录</a></button>
        <button id="generateButton">生成新图片</button> 
        <button><a href="register" style="text-decoration: none; color: white;">注册</a></button>
    </div>
</div>



</body>
</html>
