<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>114514</title>
<style>
		#ls{
				width: 250px;
				background: azure;
				border: 2px solid #6fe3af;
		}
</style>
<script>
		function show(){
				var ttime = new Date();
				var year = ttime.getFullYear();
				var month = ttime.getMonth();
				var day = ttime.getDate();
				var hours = ttime.getHours();
				var minutes = ttime.getMinutes();
				var seconds = ttime.getSeconds();

				var timestr = year + month + day + hours + minutes + seconds;
				document.ggetElementById("time").innerHTML = timestr;
		}
		window.onload = function(){
				show();
				setInterval('show()',1000);
		}
</script>
</head>
<body>
		<h1>This is Title</h1>
		<h2>second title</h2>
		<h3><a href="https://www.baidu.com" target="new" style="color:green">baidu</a></h3>
		<div style="width:300px">
		<a href="http://www.114514.com" target="new" style="color=red text-align:center font-size:256em">点击看王浩</a>
		<p id="ls">菜就多练。</p>
		</div>
		<div id="time"></div>
		<a href="login.php">login</a>
		<div>text</div>
</body>
</html>
