<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="box">
        <h2>Login</h2>
        <form id="loginForm" action="login" method="post">
            <div class="input-box">
                <label>账号</label>
                <input type="text" name="userName">
            </div>
            <div class="input-box">
                <label>密码</label>
                <input type="password" name="passWord">
            </div>
            <div class="btn-box">
                <a href="#">忘记密码</a>
                <div>
                    <button type="submit">登录</button>
                    <button><a href="register" id="registerBtn" style="color: white; text-decoration: none;">注册</a></button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>